@import "public.css";

.banner{
    width:100%;
    height:534px;
    background:black;
    border-top:1px solid #323232;
    position:relative;
    overflow: hidden;
}
.banner .bannerImg{
    width:auto;
    height:auto;
}
.banner .bannerImg img{
    display:block;
    width:100%;
    position:absolute;
    top:-50px;
}
.banner .bannerDot{
    width:102px;
    height:6px;
    display:flex;
    justify-content:space-between;
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    bottom:20px;
}
.banner .bannerDot .dot{
    width:46px;
    height:6px;
    background:#fff;
}
.banner .arrow{
    width:40px;
    height:40px;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    overflow:hidden;
}
.banner .arrow1{
    left:20px;
}
.banner .arrow2{
    right:20px;
}
.banner .arrow img{
    width:40px;
}
/* .banner .arrow img:hover{
    transform:translateY(-40px);
    transition:0.5s;
} */

.textBox{
    width:100%;
    height:auto;
    padding:40px 0;
}
.textBox .title{
    width:100%;
    height:47px;
    line-height:47px;
    text-align:center;
    font-size:36px;
    color:#3e3e3e;
}
.textBox .detail{
    width:100%;
    height:21px;
    line-height:21px;
    text-align:center;
    font-size:16px;
    color:#808080;
    margin-top:12px;
}
section .sifen{
    width:100%;
    height:auto;
    padding-top:50px;
    display:flex;
    justify-content:space-around;
}
.sifen .fen{
    width:226px;
    height:293px;
}
.sifen .fen img{
    display:block;
    width:128px;
    height:128px;
    margin:0 auto;
}
.sifen .fen .title{
    width:100%;
    height:24px;
    text-align:center;
    line-height:24px;
    font-size:16px;
    margin-top:20px;
}
.sifen .fen .rail{
    width:100%;
    height:21px;
    padding:10px 0;
    box-sizing:border-box;
}
.sifen .fen .rail img{
    width:182px;
    height:1px;
    margin:0 auto;
}
.sifen .fen .con{
    width:100%;
    height:100px;
    line-height:25px;
    font-size:14px;
    color:#808080;
}
section .textBox2{
    width:100%;
    height:172px;
    margin-top:50px;
}
.textBox2 .title{
    width:100%;
    height:77px;
    line-height:77px;
    text-align:center;
    font-size:40px;
    color:#3e3e3e;
}
.textBox2 img{
    display:block;
    width:934px;
    margin:8px auto 0;
}
section .account{
    width:100%;
    height:258px;
    padding:40px 45px 0;
    box-sizing:border-box;
}
.account img{
    display:block;
    width:305px;
    float:left;
    margin-top:10px;
}
.account .accleft{
    width:590px;
    height:100%;
    float:right;
}
.account .accleft .acctop{
    width:100%;
    height:30px;
    border-bottom:1px solid #EEEEEE;
}
.account .accleft .acctop .company{
    display:block;
    height:30px;
    line-height:30px;
    font-size:18px;
    float:left;
}
.account .accleft .acctop .company1{
    font-size:12px;
    float:right;
}
.account .accleft .con{
    width:100%;
    height:auto;
    margin-top:14px;
    line-height:25px;
    font-size:14px;
    color:#808080;
}
.account .accleft .con1{
    margin-top:24px;
}
section .know{
    width:100%;
    height:294px;
    padding:0 45px;
    box-sizing:border-box;
    margin:40px 0;
}
.know img{
    width:305px;
    margin-top:30px;
    float:right;
}
.know .knows{
    width:590px;
    height:200px;
    float:left;
    margin-top:20px;
}
.know .knows .knowtop{
    width:100%;
    height:30px;
    border-bottom:1px solid #eee;
}
.know .knows .knowtop .knowtit{
    display:block;
    height:30px;
    line-height:30px;
    font-size:18px;
    float:left;
}
.know .knows .knowtop .knowtit1{
    font-size:12px;
    float:right;
}
.know .knows .rows{
    width:100%;
    height:auto;
}
.know .knows .rows>li{
    width:100%;
    height:31px;
    border-bottom:1px dotted #ccc; 
    line-height:30px;
    padding:0 16px 0 5px;
    box-sizing:border-box;
}
.know .knows .rows>li:nth-child(1){
    height:40px;
    line-height:40px;
}
.know .knows .rows>li .con{
    color:#808080;
    font-size:14px;
    float:left;
}
.know .knows .rows>li .conr{
    color:#C9C9C9;
    font-size:12px;
    float:right;
}
.know .knows .rows>li:hover .con{
    color:#E30201;
}